.contents{
  display: block;
  margin: 0 auto;
  padding: 26px 0;
  width: 1200px;
  height: 1000px;
  background-color: rgb(233, 241, 248);
}

.main-visual{
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 700px;
  padding: 10px;
  margin: 5%;
}

.main-visual > img{
  position: relative;
  box-sizing: border-box;
  padding: 81px 0 0 0;
  width: 90%;
  margin: 0 0 0 0;
}

.middle-visual{
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 700px;
  padding: 10px;
  margin: 5%;
}

.middle-visual > .list > li {
  display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
}

.banner{
  text-align: center;
  margin: 5%;
}

.banner > .list > li {
  float: left;
  width: 175px;
  height: 100px;
}

.item1, .item2, .item3, .item4 {
  border-radius: var(--border-radius);
  background: var(--background-color);
  box-shadow: var(--box-shadow);
  margin: 2px 2px 2px 2px ;
}

.list li > img {
  position: relative;
  box-sizing: border-box;
  margin: 0 0 0 0;
  background-color: red;
  width: 100px;
  height: auto;
} 