@import "reset.css";

:root {
  /* box */
  --border-radius: 25px;
  --background-color: #fff;
  --box-shadow: 5px 5px 10px rgba(19, 17, 17, 0.1);
}

body{
  min-width: 1300px;
  font-size: 13px;
  color: #000;
  line-height: 1;
  background: none;

}

body > .container {
  height: auto;
  width: 1000px;
}

h1, div{
  font-family:dotum, Helvetica, sans-serif;
  line-height: inherit;
}

a{
  text-decoration: none;
}